.sidebar{
  position: fixed;
  background-color:white;
  top:55px;
  bottom: 0;
  left: 0;
  width: 72px ;
  z-index: 200;
  padding-top: 5px ;
}

.sidebar .sidebar-link{
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.sidebar .name{
  font-family: Roboto;
  font-size: 10px;
  margin-top: 6px;
}

.sidebar img{
  height:24px;
}

.sidebar-link:hover{
  cursor: pointer;
  background-color:rgb(238, 238, 238) ;
}